.form__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10em;
}
.inputSearch {
  display: block;
  margin-bottom: 20px;
  min-width: 30em;
  height: 5em;
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-family: var(--secondary_font);
}

.search__btn {
  width: 10em;
  height: 3em;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-family: var(--primary_font);
  font-weight: 700;
  box-shadow: 0 9px #999;
}

.search__btn:active {
  background-color: var(--primary_color);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

