* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(
    to top,
    var(--primary_color),
    var(--main_color)
  );
  background-repeat: no-repeat;
  height: 100%;
  background-attachment: fixed;
  margin: 0;
}

.navBar {
  width: 100vw;
  height: 5em;
  background-color: var(--primary_color);
}

.navBar__title {
  padding: 10px;
  font-family: var(--main_font);
  cursor: pointer;
}

.App {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
